#wrap {
    width: 100%;
}

.inner {
    width: 95%;
    margin: auto;
    position: relative;
    box-sizing: border-box;
}

/* airport */
/* airport */
/* airport */
/* airport */

/* airport */

.airportVis img,
.airportCon img,
.hotelVis img,
.hotelCon img,
.rentVis img,
.rentCon img {
    vertical-align: baseline;
}

.airportVis .inner .event,
.hotelVis .inner .event,
.rentVis .inner .event {
    cursor: pointer;
}


/* airport visual */
.airportVis {
    position: relative;
    width: 100%;
    height: 100vw;
    text-align: center;
}


.airportVis .viss {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 5;
}

.airportVis .viss img {
    width: 100%;
    height: 166.6667vw;
    position: absolute;
    top: 0;
    left: 0;
}

.airportVis .inner {
    position: relative;
    height: 80vw;
}

.airportVis .bgibox {
    position: absolute;
    width: 100%;
    transition: 0.4s;
}

.airportVis .box1 {
    background-image: url(../images/airport/visual/visual12.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;

}

.airportVis .box1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vw;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

/* airport search */

.airportVis .inner .search {
    position: absolute;
    width: 95vw;
    height: 66.1111vw;
    background: white;
    top: 10%;
    bottom: 5.5556vw;
    box-sizing: border-box;
    box-shadow: 0.0000vw 0.0000vw 2.7778vw;
    padding: 5.5556vw;
    text-align: left;
    z-index: 5;
    border-radius: 7vw;
}

.airportVis .inner .search .way {
    text-align: left;
}

.airportVis .inner .search .way strong {
    margin-right: 5.5556vw;
    margin-left: 2.7778vw;
    font-size: 5.0000vw;
    cursor: pointer;
}

.airportVis .inner .search .way .roundBtn {
    border-bottom: 0.5556vw solid gray;
}

.airportVis .inner .search .one {
    display: none;
}

.airportVis .inner .search .where {
    margin-top: 5.5556vw;
    margin-bottom: 2.7778vw;
}

.airportVis .inner .search .where span,
.airportVis .inner .search .when span {
    display: inline-block;
    width: 27.7778vw;
    height: 13.8889vw;
    padding: 2.7778vw;
    color: gray;
    box-sizing: border-box;
    cursor: pointer;
}

.airportVis .inner .search .where .start,
.airportVis .inner .search .where .end,
.airportVis .inner .search .when .pers {
    width: 30vw;
    cursor: pointer;
}

.airportVis .inner .search .where i {
    vertical-align: -40%;
    font-size: 13.8889vw;
    margin-right: 5.5556vw;
}

.airportVis .inner .search .when .start_date,
.airportVis .inner .search .when .end_date {
    width: 40vw;
}

.airportVis .inner .search .when .start_date {
    margin-right: 2vw;
}

.airportVis .inner .search .one .when .start_date {
    width: 40vw;
}

.airportVis .inner .search .when .pers {
    width: 60vw;
}

.airportVis .inner .search .serch_btn {
    margin-top: 7vw;
    width: 100%;
    height: 13.8889vw;
    border-radius: 2.7778vw;
    background: skyblue;
    color: white;
    border: none;
    font-size: 5.0000vw;
    cursor: pointer;
}

/* airport popup */
.airportVis .inner .search .popStaBox {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 100%;
    height: 86.1111vw;
    top: 30.5556vw;
    left: 0vw;
    box-sizing: border-box;
}

.airportVis .inner .search .popDesBox {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 100%;
    height: 86.1111vw;
    top: 30.5556vw;
    left: 0;
    box-sizing: border-box;
}

.airportVis .inner .search .popSta {
    position: absolute;
    background: white;
    border: 0.2778vw solid #000;
    width: 100%;
    height: 83.3333vw;
    top: -83.3333vw;
    left: 0vw;
    box-sizing: border-box;
    transition: 0.3s;
}

.airportVis .inner .search .popDes {
    position: absolute;
    background: white;
    border: 0.2778vw solid #000;
    width: 100%;
    height: 83.3333vw;
    top: -83.3333vw;
    left: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

.airportVis .inner .search .popSta p,
.airportVis .inner .search .popDes p,
.airportVis .inner .search .popPer p {
    margin: 2.7778vw;
    text-align: right;
}

.airportVis .inner .search .popSta p i,
.airportVis .inner .search .popDes p i,
.airportVis .inner .search .popPer p i {
    font-size: 8.3333vw;
    transition: 0.3s;
    cursor: pointer;
}

.airportVis .inner .search .popSta ul,
.airportVis .inner .search .popDes ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 8.3333vw;
    margin-top: 4.1667vw;
    padding-top: 4.1667vw;
    border-top: 0.2778vw solid gray;
}

.airportVis .inner .search .popSta li,
.airportVis .inner .search .popDes li {
    text-align: center;
    margin: 1.3889vw;
    padding: 1.3889vw;
    width: 13.8889vw;
    height: 13.8889vw;
    font-size: 5.0000vw;
    cursor: pointer;
}

.airportVis .inner .search .popPerBox {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 100%;
    height: 0vw;
    top: 60vw;
    left: 0vw;
    box-sizing: border-box;
}

.airportVis .inner .search .popPer {
    position: absolute;
    background: white;
    border: 0.2778vw solid #000;
    width: 100%;
    height: 83.3333vw;
    top: -83.3333vw;
    left: 0.0000vw;
    box-sizing: border-box;
    transition: 0.3s;
}

.airportVis .inner .search .popPer ul {
    position: relative;
    margin: 8.3333vw;
    margin-top: 4.1667vw;
    padding-top: 4.1667vw;
    border-top: 0.2778vw solid gray;
}

.airportVis .inner .search .popPer ul li {
    height: 19.4444vw;
}

.airportVis .inner .search .popPer ul li .pers {
    position: absolute;
    display: inline-block;
    right: 0;
}

.airportVis .inner .search .popPer ul li span {
    font-size: 5.0000vw;
}

.airportVis .inner .search .popPer ul li span em {
    font-size: 3.8889vw;
    color: gray;
    margin-left: 1.3889vw;
}

.airportVis .inner .search .popPer ul li .min,
.airportVis .inner .search .popPer ul li .plus {
    background: white;
}

.airportVis .inner .search .popPer ul i {
    font-size: 5.0000vw;
    margin-left: 1.3889vw;
    cursor: pointer;
}

.airportVis .inner .search .popPer ul li button {
    border: none;
    margin: 1.3889vw;
}

.airportVis .inner .search .popPer ul li strong {
    font-size: 6.1111vw;
    font-weight: 600;
}

/* airport calendal */
.airportVis .inner .search .popDateBox {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 100%;
    height: 0.0000vw;
    top: 50.0000vw;
    left: 0vw;
    box-sizing: border-box;
    padding: 5.5556vw;
}

.airportVis .inner .search .popDateBox .popDateBox1 {
    position: absolute;
    background: white;
    border: 0.2778vw solid #000;
    width: 100%;
    height: 115vw;
    top: -133.3333vw;
    left: 0.0000vw;
    box-sizing: border-box;
    transition: 0.3s;
}

.airportVis .inner .search .popDateBoxR {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 100%;
    height: 0.0000vw;
    top: 50.0000vw;
    left: 0vw;
    box-sizing: border-box;
    padding: 5.5556vw;
}

.airportVis .inner .search .popDateBoxR .popDateBox1 {
    position: absolute;
    background: white;
    border: 0.2778vw solid #000;
    width: 100%;
    height: 133.3333vw;
    top: -133.3333vw;
    left: 0.0000vw;
    box-sizing: border-box;
    transition: 0.3s;
}

.airportVis .inner .search .popDateBoxO {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 100%;
    height: 0.0000vw;
    top: 50.0000vw;
    left: 0vw;
    box-sizing: border-box;
    padding: 5.5556vw;
}

.airportVis .inner .search .popDateBoxO .popDateBox1 {
    position: absolute;
    background: white;
    border: 0.2778vw solid #000;
    width: 100%;
    height: 133.3333vw;
    top: -133.3333vw;
    left: 0.0000vw;
    box-sizing: border-box;
    transition: 0.3s;
}

.airportVis .inner .search .popDate {
    padding-left: 2vw;
}

.airportVis .inner .search .popDateBox1 .popDate {
    display: flex;
    align-items: flex-start;
}

.airportVis .inner .search .popDateBox1>p {
    margin: 2.7778vw;
    margin-bottom: 5.5556vw;
    text-align: right;
}

.airportVis .inner .search .popDateBox1>p i {
    font-size: 8.3333vw;
    transition: 0.3s;
    cursor: pointer;
}

.airportVis .inner .search .popDate td {
    width: 5vw;
    height: 5vw;
    vertical-align: top;
}

.airportVis .inner .search .popDate .popDateS {
    width: 97.2222vw;
    height: auto;
    margin-right: 11.1111vw;
}

.airportVis .inner .search .popDate table {
    text-align: center;
}

.airportVis .inner .search .popDate table i {
    font-size: 9.4444vw;
}

.airportVis .inner .search .popDate table thead tr:first-child td {
    font-weight: bold;
    font-size: 6.1111vw;
}

.airportVis .inner .search .popDate table thead tr:last-child td {
    font-weight: bold;
    font-size: 5.0000vw;
}

.airportVis .inner .search .popDate table tbody>tr>td>p {
    height: 11vw;
    width: 11vw;
    border-radius: 12.5000vw;
    transition-duration: 0.2s;
    line-height: 12.5000vw;
    margin: 0.6944vw;
    display: block;
    text-align: center;
}

.airportVis .inner .search .popDate table .pastDay {
    color: lightgray;
}

.airportVis .inner .search .popDate table .today {
    background: tan;
    color: white;
}

.airportVis .inner .search .popDate table .futureDay {
    background: white;
}


.airportVis .inner .search .popDate table .futureDay.choiceDay,
.airportVis .inner .search .popDate table .today.choiceDay {
    background: orange;
    color: white;
}

/* // airport visual */

/* airport content */
/* airport md recoment */
.airportCon .md .inner {
    height: 80vw;
    box-sizing: border-box;
}

.airportCon .md .inner h3 {
    font-size: 6vw;
    text-align: center;
    margin-bottom: 5vw;
}

.airportCon .md .md_recomend-box li {
    position: relative;
    border-radius: 2.7778vw;
    background: white;
    border: 0.2778vw solid lightgray;
    box-sizing: border-box;
    padding: 5.5556vw;
    margin-bottom: 8vw;
    z-index: 100;
}

.airportCon .md .md_recomend-box li a {
    display: block;
    width: 100%;
    height: 100%;
}

.airportCon .md .md_recomend-box li img {
    height: 9.7222vw;
}

.airportCon .md .md_recomend-box li .air_c {
    margin-left: 2.7778vw;
    font-size: 4.4444vw;
    position: absolute;
    top: 6.9444vw;
}

.airportCon .md .md_recomend-box li strong {
    display: block;
    padding-top: 2.7778vw;
    font-size: 4.4444vw;
    border-top: 0.2778vw dotted lightgray;
    margin-bottom: 2.7778vw;
}

.airportCon .md .md_recomend-box li strong i {
    margin-left: 2.7778vw;
    margin-right: 2.7778vw;
    font-size: 5.5556vw;
    vertical-align: -10%;
}

.airportCon .md .md_recomend-box li .date_s {
    color: gray;
}

.airportCon .md .md_recomend-box li .date_p {
    display: block;
    margin-top: 2.7778vw;
    border-bottom: 0.2778vw dotted lightgray;
    padding-bottom: 2.7778vw;
}

.airportCon .md .md_recomend-box li p {
    position: absolute;
    right: 5.5556vw;
    bottom: 5.5556vw;
    color: orangered;
    font-size: 5.5556vw;
    font-weight: 500;
}

.airportCon .md .md_recomend-box li p>span {
    color: gray;
    font-size: 4.4444vw;
    font-weight: normal;
}











/* airport air recomend*/
.airportCon .air .inner {
    height: 135vw;
}

.airportCon .air .inner h3 {
    text-align: center;
    font-size: 6vw;
    font-weight: 500;
}

.airportCon .air .inner h3 i {
    margin-left: 2.7778vw;
}

.airportCon .air .air_recomend-box li {
    position: relative;
    border-radius: 2.7778vw;
    box-sizing: border-box;
    margin-bottom: 12vw;
    padding-top: 5vw;
}

.airportCon .air .air_recomend-box li img {
    width: 69.4444vw;
    display: block;
    margin: auto;
    border-radius: 2.7778vw;
}

.airportCon .air .air_recomend-box li .air_c {
    display: block;
    margin-top: 5.5556vw;
    margin-bottom: 1.3889vw;
    color: gray;
    margin-left: 13vw;
}

.airportCon .air .air_recomend-box li strong {
    display: block;
    font-size: 4vw;
    font-weight: 600;
    margin-left: 13vw;
}

.airportCon .air .air_recomend-box li .date_s {
    font-size: 4.1667vw;
    margin-left: 13vw;
}

.airportCon .air .air_recomend-box li p {
    margin-top: 1.3889vw;
    font-size: 5vw;
    font-weight: 700;
    margin-left: 13vw;
}

.airportCon .air .air_recomend-box li p>span {
    font-size: 4.1667vw;
    font-weight: normal;
}





/* airport benefit */
.airportCon .benefit {
    margin-top: 10px;
    height: 140vw;
    background: lightgoldenrodyellow;
}

.airportCon .benefit h3 {
    padding-top: 13.8889vw;
    margin-bottom: 11.9444vw;
    font-size: 6vw;
    font-weight: 500;
    text-align: center;
}

.airportCon .benefit ul li {
    height: 80vw;
    margin-bottom: 12vw;
}

.airportCon .benefit ul li img {
    display: block;
    margin: auto;
    width: 78.3333vw;
    height: 58.3333vw;
}

.airportCon .benefit ul li p {
    margin-top: 2.7778vw;
    color: gray;
    font-size: 4.4444vw;
    margin-left: 10vw;
}

.airportCon .benefit ul li span {
    margin-top: 2.7778vw;
    font-size: 5.0000vw;
    font-weight: 500;
    margin-left: 10vw;
}

/* // airpirt */
/* // airpirt */
/* // airpirt */
/* // airpirt */
/* // airpirt */