#footer {
    width: 100%;
    border-top: 0.2778vw solid #15addb;
    margin: 0;
    height: 135.5556vw;
}

#footer .container {
    padding: 0 2.7778vw;
    font-size: 3.3333vw;
}

#footer .container .info {
    padding: 5.5556vw 0;
}

#footer .container .infoItem,
#footer .container .info .footertop {
    padding: 2.7778vw 0;
}

#footer .container .info .footertop {
    text-align: center;
    border: 0.5556vw solid skyblue;

}

#footer .container .info .footertop span {
    position: relative;
    padding-right: 2.2222vw;
    padding-left: 1.6667vw;
}

#footer .container .info .footertop span:nth-of-type(4)::after,
#footer .container .info .footertop span:nth-of-type(7)::after {
    display: none;
}

#footer .container .info .footertop span::after {
    content: "";
    width: 0.2778vw;
    height: 2.2222vw;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0.8333vw;
}

#footer .container .more {
    margin: 2.7778vw auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#footer .container .more .infoItem {
    display: flex;
    justify-content: space-between;
    width: 55.5556vw;
}

#footer .container .more .infoItem img {
    width: 9.4444vw;
    height: 9.4444vw;
    margin: 0 1.3889vw;
}

#footer .container .more .moreButton {
    display: flex;
    align-items: end;
    height: 5.5556vw;
}

#footer .container .more .moreButton img {
    height: 5.5556vw;
    margin-right: 2.7778vw;
}

#footer .container .more .moreButton i {
    font-size: 4.4444vw;
    color: skyblue;
}

#footer .container .infoText {
    display: none;
    padding-bottom: 2.7778vw;
}

#footer .container .infoText.on {
    display: block;
}

#footer .container .infoText a {
    font-size: 3.3333vw;
}

#footer .container .infoText span {
    position: relative;
}

#footer .container .infoText span:nth-of-type(1),
#footer .container .infoText span:nth-of-type(8),
#footer .container .infoText span:nth-of-type(10) {
    padding-right: 2.2222vw;
}

#footer .container .infoText span:nth-of-type(2),
#footer .container .infoText span:nth-of-type(9),
#footer .container .infoText span:nth-of-type(11) {
    padding-left: 1.6667vw;
}

#footer .container .infoText span:nth-of-type(1)::after,
#footer .container .infoText span:nth-of-type(8)::after,
#footer .container .infoText span:nth-of-type(10)::after {
    content: "";
    width: 0.2778vw;
    height: 2.2222vw;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0.8333vw;
}

#footer .container .infoText span strong {
    font-weight: 700;
}

.copyright {
    text-align: center;
    display: block;
    font-weight: 600;
}