#header {
    width: 100%;
}

#header .container {
    box-sizing: border-box;
    margin: auto;

}

.headerConbox {
    display: none;
}

.headerConbox.on {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}

.bg {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.2);
}

.menu-content {
    width: 80%;
    height: 100%;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0.8333vw 0.8333vw 0.8333vw 0.8333vw gray;
    position: fixed;
}

.menu-content.on {
    display: block;
}

/* top-menu-bar */
.top-menu-bar {
    width: 100%;
    height: 16.6667vw;
    /* border-bottom: 0.2778vw solid #000; */
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.top-menu-bar i {
    font-size: 11.1111vw;
    padding: 2.7778vw;
}

.top-menu-bar img {
    width: 18.3333vw;
    height: 11.1111vw;
    padding: 2.7778vw 0;
}

/* top-content */
.top-content {
    height: 16.6667vw;
    box-sizing: border-box;
    border-bottom: 0.5556vw solid #d8f1f1;
    background-color: #d8f1f1;
}

.top-content .container {
    display: flex;
    height: 16.6667vw;
    position: relative;
    padding: 0 2.7778vw
}

.top-content .container img {
    width: 18.3333vw;
    height: 11.1111vw;
    padding: 2.7778vw 0;
}

.top-content .container h2 {
    line-height: 16.6667vw;
    font-size: 5.0000vw;
    font-weight: 600;
    display: block;
    margin: auto;
}

.top-content .container .icon-box {
    line-height: 1;
    width: auto;
    padding: 4.1667vw 0;
}

.top-content .container .icon-box a i {
    font-size: 8.3333vw;
    margin-left: 1.6667vw;
}

/* center-content -> main-menu-content */
.main-menu-content {
    display: flex;
    border-bottom: 0.5556vw solid #d8f1f1;
}

.main-menu-content .left-content {
    border-right: 0.5556vw solid #d8f1f1;
}

.main-menu-content .gnb {
    padding-top: 2.7778vw;
    width: 27.7778vw;
}

.main-menu-content .gnb li {
    height: 13.8889vw;
    line-height: 13.8889vw;
    text-indent: 2.7778vw;
    font-size: 4.4444vw;
    box-sizing: border-box;
    font-weight: 600;
}

.left-content {
    position: relative;
}

.left-content .login {
    position: absolute;
    left: 2.7778vw;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 27.7778vw;
    /* border: 0.2778vw solid #000; */
}

.left-content .login button {
    width: 22.2222vw;
    height: 10.0000vw;
    border-style: none;
    background-color: #d8f1f1;
    font-size: 4.4444vw;
    font-weight: 600;
}

.left-content .login a:first-child button {
    background-color: skyblue;
}

/* center-content -> sub-menu-content */
.sub-menu-content {
    margin: auto;
}

.sub-menu {
    padding-top: 2.7778vw;
}

.sub-menu .choose_menu {
    height: 13.8889vw;
    line-height: 13.8889vw;
    padding: 0 2.7778vw;
    font-size: 5.0000vw;
    font-weight: 600;
}

.sub-menu .choose_menu p {
    border-bottom: 0.5556vw solid #d8f1f1;
}

.sub-menu ul {
    display: none;
}

.sub-menu ul.on {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 111.1111vw;
}

.sub-menu ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2.7778vw 0;
    font-size: 4.4444vw;
    width: 47.2222vw;
    font-weight: 600;
}

.sub-menu ul li i {
    color: skyblue;
    font-size: 11.1111vw;
    margin-bottom: 1.6667vw;
}

.sub-menu-content .more-menu {
    align-items: end;
}

.sub-menu-content .more-menu ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 47.2222vw;
    margin: 2.7778vw auto;
}

.sub-menu-content .more-menu ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3.8889vw;
    box-sizing: border-box;
    border: 0.5556vw solid #d8f1f1;
    border-bottom: none;
    padding: 1.6667vw 0;
}

.sub-menu-content .more-menu ul li:nth-child(4) {
    border-bottom: 0.5556vw solid #d8f1f1;
}

.sub-menu-content .more-menu ul li i {
    font-size: 6.6667vw;
    color: skyblue;
}

.opening_hours {
    margin-top: 13.8889vw;
    padding-left: 2.7778vw;
    font-size: 3.8889vw;
}

.opening_hours .opening_info img {
    width: 13.8889vw;
    padding: 2.7778vw 0;
}

.opening_text strong {
    font-weight: 600;
}

.opening_text .date {
    color: #888;
}