/* .main {
    height: 166.6667vw;
    font-size: 13.8889vw;
    text-align: center;
} */
/* ---------------------------------------- header.html ---------------------------------------- */
#wrap {
    width: 100%;
    border-style: none;
    position: relative;
}

/* 공통 */
#header {
    width: 100%;
}

#header .container {
    box-sizing: border-box;
    margin: auto;

}

.headerConbox {
    display: none;
}

.headerConbox.on {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}

.bg {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.2);
}

.menu-content {
    width: 80%;
    height: 100%;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0.8333vw 0.8333vw 0.8333vw 0.8333vw gray;
    position: fixed;
}

.menu-content.on {
    display: block;
}

/* top-menu-bar */
.top-menu-bar {
    width: 100%;
    height: 16.6667vw;
    /* border-bottom: 0.2778vw solid #000; */
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.top-menu-bar i {
    font-size: 11.1111vw;
    padding: 2.7778vw;
}

.top-menu-bar img {
    width: 18.3333vw;
    height: 11.1111vw;
    padding: 2.7778vw 0;
}

/* top-content */
.top-content {
    height: 16.6667vw;
    box-sizing: border-box;
    border-bottom: 0.5556vw solid #d8f1f1;
    background-color: #d8f1f1;
}

.top-content .container {
    display: flex;
    height: 16.6667vw;
    position: relative;
    padding: 0 2.7778vw
}

.top-content .container img {
    width: 18.3333vw;
    height: 11.1111vw;
    padding: 2.7778vw 0;
}

.top-content .container h2 {
    line-height: 16.6667vw;
    font-size: 5.0000vw;
    font-weight: 600;
    display: block;
    margin: auto;
}

.top-content .container .icon-box {
    line-height: 1;
    width: auto;
    padding: 4.1667vw 0;
}

.top-content .container .icon-box a i {
    font-size: 8.3333vw;
    margin-left: 1.6667vw;
}

/* center-content -> main-menu-content */
.main-menu-content {
    display: flex;
    border-bottom: 0.5556vw solid #d8f1f1;
}

.main-menu-content .left-content {
    border-right: 0.5556vw solid #d8f1f1;
}

.main-menu-content .gnb {
    padding-top: 2.7778vw;
    width: 27.7778vw;
}

.main-menu-content .gnb li {
    height: 13.8889vw;
    line-height: 13.8889vw;
    text-indent: 2.7778vw;
    font-size: 4.4444vw;
    box-sizing: border-box;
    font-weight: 600;
}

.left-content {
    position: relative;
}

.left-content .login {
    position: absolute;
    left: 2.7778vw;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 27.7778vw;
    /* border: 0.2778vw solid #000; */
}

.left-content .login button {
    width: 22.2222vw;
    height: 10.0000vw;
    border-style: none;
    background-color: #d8f1f1;
    font-size: 4.4444vw;
    font-weight: 600;
}

.left-content .login a:first-child button {
    background-color: skyblue;
}

/* center-content -> sub-menu-content */
.sub-menu-content {
    margin: auto;
}

.sub-menu {
    padding-top: 2.7778vw;
}

.sub-menu .choose_menu {
    height: 13.8889vw;
    line-height: 13.8889vw;
    padding: 0 2.7778vw;
    font-size: 5.0000vw;
    font-weight: 600;
}

.sub-menu .choose_menu p {
    border-bottom: 0.5556vw solid #d8f1f1;
}

.sub-menu ul {
    display: none;
}

.sub-menu ul.on {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 111.1111vw;
}

.sub-menu ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2.7778vw 0;
    font-size: 4.4444vw;
    width: 47.2222vw;
    font-weight: 600;
}

.sub-menu ul li i {
    color: skyblue;
    font-size: 11.1111vw;
    margin-bottom: 1.6667vw;
}

.sub-menu-content .more-menu {
    align-items: end;
}

.sub-menu-content .more-menu ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 47.2222vw;
    margin: 2.7778vw auto;
}

.sub-menu-content .more-menu ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3.8889vw;
    box-sizing: border-box;
    border: 0.5556vw solid #d8f1f1;
    border-bottom: none;
    padding: 1.6667vw 0;
}

.sub-menu-content .more-menu ul li:nth-child(4) {
    border-bottom: 0.5556vw solid #d8f1f1;
}

.sub-menu-content .more-menu ul li i {
    font-size: 6.6667vw;
    color: skyblue;
}

.opening_hours {
    margin-top: 13.8889vw;
    padding-left: 2.7778vw;
    font-size: 3.8889vw;
}

.opening_hours .opening_info img {
    width: 13.8889vw;
    padding: 2.7778vw 0;
}

.opening_text strong {
    font-weight: 600;
}

.opening_text .date {
    color: #888;
}

/* ---------------------------------------- footer.html ---------------------------------------- */
#footer {
    width: 100%;
    border-top: 0.2778vw solid #15addb;
    margin: 0;
    height: 135.5556vw;
}

#footer .container {
    padding: 0 2.7778vw;
    font-size: 3.3333vw;
}

#footer .container .info {
    padding: 5.5556vw 0;
}

#footer .container .infoItem,
#footer .container .info .footertop {
    padding: 2.7778vw 0;
}

#footer .container .info .footertop {
    text-align: center;
    border: 0.5556vw solid skyblue;

}

#footer .container .info .footertop span {
    position: relative;
    padding-right: 2.2222vw;
    padding-left: 1.6667vw;
}

#footer .container .info .footertop span:nth-of-type(4)::after,
#footer .container .info .footertop span:nth-of-type(7)::after {
    display: none;
}

#footer .container .info .footertop span::after {
    content: "";
    width: 0.2778vw;
    height: 2.2222vw;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0.8333vw;
}

#footer .container .more {
    margin: 2.7778vw auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#footer .container .more .infoItem {
    display: flex;
    justify-content: space-between;
    width: 55.5556vw;
}

#footer .container .more .infoItem img {
    width: 9.4444vw;
    height: 9.4444vw;
    margin: 0 1.3889vw;
}

#footer .container .more .moreButton {
    display: flex;
    align-items: end;
    height: 5.5556vw;
}

#footer .container .more .moreButton img {
    height: 5.5556vw;
    margin-right: 2.7778vw;
}

#footer .container .more .moreButton i {
    font-size: 4.4444vw;
    color: skyblue;
}

#footer .container .infoText {
    display: none;
    padding-bottom: 2.7778vw;
}

#footer .container .infoText.on {
    display: block;
}

#footer .container .infoText a {
    font-size: 3.3333vw;
}

#footer .container .infoText span {
    position: relative;
}

#footer .container .infoText span:nth-of-type(1),
#footer .container .infoText span:nth-of-type(8),
#footer .container .infoText span:nth-of-type(10) {
    padding-right: 2.2222vw;
}

#footer .container .infoText span:nth-of-type(2),
#footer .container .infoText span:nth-of-type(9),
#footer .container .infoText span:nth-of-type(11) {
    padding-left: 1.6667vw;
}

#footer .container .infoText span:nth-of-type(1)::after,
#footer .container .infoText span:nth-of-type(8)::after,
#footer .container .infoText span:nth-of-type(10)::after {
    content: "";
    width: 0.2778vw;
    height: 2.2222vw;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0.8333vw;
}

#footer .container .infoText span strong {
    font-weight: 700;
}

.copyright {
    text-align: center;
    display: block;
    font-weight: 600;
}

/* ---------------------------------------- login.html ---------------------------------------- */

section {
    position: relative;
}

.inner {
    position: relative;
    margin: auto;
    width: 94.4444vw;
    box-sizing: border-box;
    /* border: 0.2778vw solid #000; */
}

/* 공통 */
.loginInner input {
    border: 0.5556vw solid skyblue;

}

.loginInner button,
.loginInner input[type=button] {
    background-color: skyblue;
    border: none;
    vertical-align: bottom;
    font-size: 3.8889vw;
}

.loginInner input:focus {
    outline: none;
    border: 0.5556vw solid;
    border-color: #15addb;
}

.loginInner input::placeholder {
    color: #bbb;
    font-size: 3.8889vw;
}

.loginInner input[type=text],
.loginInner input[type=password],
.loginInner input[type=email] {
    width: 94.4444vw;
    height: 11.1111vw;
    box-sizing: border-box;
}

.loginInner button {
    color: #fff;
    width: 94.4444vw;
    height: 11.1111vw;
    font-weight: 700;
    cursor: pointer;
}

.loginInner,
.popupJoinInner,
.popupFindIdPasswordInner {
    margin: auto;
    box-sizing: border-box;
}

.loginInner {
    position: relative;
    width: 94.4444vw;
    padding: 8.3333vw 0;
}

.loginInner>a,
.popupFindIdPasswordInner>a {
    display: block;
    width: auto;
    margin: 0 0 8.3333vw 0;
}

.loginInner>a>img {
    width: 33.3333vw;
    height: 19.4444vw;
}

.loginInner>a>img,
.popupFindIdPasswordInner>a>img {
    display: block;
    margin: auto;
}

.loginInner p {
    text-align: center;
}

.loginInner span {
    display: block;
    position: relative;
    font-size: 3.3333vw;
    margin-top: 2.7778vw;
}

.loginInner span:nth-of-type(1) {
    display: inline;
}

.loginInner span:nth-of-type(2),
.loginInner span:nth-of-type(3) {
    padding-left: 2.7778vw;
}

.loginInner span:nth-of-type(2)::before,
.loginInner span:nth-of-type(3)::before {
    content: "";
    width: 0.8333vw;
    height: 0.8333vw;
    border-radius: 0.8333vw;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 2.7778vw;
}

.loginInner span:nth-of-type(4) {
    margin: 8.3333vw 0 2.7778vw;
    text-align: center;
}

.findIdPassword {
    display: flex;
    justify-content: center;
    font-size: 3.8889vw;
}

.findIdPassword p {
    position: relative;
    padding: 0 5.5556vw;
}

.findIdPassword p::after {
    content: "";
    width: 0.2778vw;
    height: 2.7778vw;
    background-color: #000;
    position: absolute;
    left: 0.0000vw;
    bottom: 50%;
    transform: translateY(50%);
}

.findIdPassword p:nth-of-type(1)::after {
    display: none;
}

.loginIdTextBox {
    margin-bottom: 1.3889vw;
}

.loginPasswordTextBox {
    margin-bottom: 2.7778vw;
}

.saveInputId {
    margin-right: 2.7778vw;
    vertical-align: middle;
}

.loginBtn {
    margin: 2.7778vw 0;
}

/* 소셜 로그인 */
.socialLogin {
    margin: 2.7778vw 0 13.8889vw 0;
    display: flex;
}

.socialLogin a img {
    width: 31.3889vw;
    height: 8.3333vw;
}

/* ---------------------------------------- findpassword.html ---------------------------------------- */
.popupFindIdPasswordInner {
    width: 94.4444vw;
    padding: 8.3333vw 0;
}

.popupFindIdPasswordInner p {
    font-weight: 700;
    font-size: 4.4444vw;
}

.popupFindIdPasswordInner span {
    color: #888;
    font-size: 3.8889vw;
    display: block;
    padding: 2.7778vw 0;
}

.popupFindIdPasswordInner>a>img {
    width: 33.3333vw;
    height: 19.4444vw;
}


.popupFindIdPasswordInner input::placeholder {
    font-size: 3.3333vw;
}

.popupFindIdPasswordInner input[type=text],
.popupFindIdPasswordInner input[type=email] {
    width: 72.2222vw;
    height: 11.1111vw;
    box-sizing: border-box;
    vertical-align: bottom;
    border: 0.2778vw solid skyblue;
}

.popupFindIdPasswordInner input[type=text]:focus,
.popupFindIdPasswordInner input[type=email]:focus {
    outline: none;
    border: 0.5556vw solid #15addb;
}

.emailSubmitBtn,
.idSubmitBtn {
    color: #fff;
    width: 22.2222vw;
    height: 11.1111vw;
    border-style: none;
    cursor: pointer;
    background-color: skyblue;
}

.findId {
    margin-bottom: 8.3333vw;
}

/* ---------------------------------------- join.html ---------------------------------------- */
.popupJoin {
    display: block;
}

.popupJoinInner {
    background: #fff;
    width: 94.4444vw;
    padding: 8.3333vw 0;
}

.popupJoinInner p {
    text-align: center;
    font-size: 5.5556vw;
    font-weight: 700;
    margin-bottom: 8.3333vw;
}

/* input type */
.popupJoinInner input {
    border: 0.2778vw solid skyblue;
    margin-bottom: 2.7778vw;
    font-size: 3.3333vw;
}

.popupJoinInner input[type=text].inputId {
    width: 72.2222vw;
}

.popupJoinInner input[type=text],
.popupJoinInner input[type=password],
.popupJoinInner input[type=email] {
    width: 2.7778vw;
    height: 11.1111vw;
    box-sizing: border-box;
}

.popupJoinInner .tieLabelInput span {
    line-height: 11.1111vw;
}

.popupJoinInner input[type=text],
.popupJoinInner input[type=password] {
    width: 94.4444vw;
}

.NotCollectPassword {
    display: block;
    margin-bottom: 2.7778vw;
}

.popupJoinInner input:nth-of-type(4) {
    margin: 0;
}

.popupJoinInner input[type=email] {
    width: 34.1667vw;
}

.popupJoinInner input[type=text].phoneNumber {
    width: 94.4444vw;
}

.popupJoinInner button,
.popupJoinInner input[type=button] {
    background-color: skyblue;
    border: none;
    vertical-align: bottom;
}

.popupJoinInner input:focus {
    outline: none;
    border: 0.5556vw solid;
    border-color: #15addb;
}

.popupJoinInner input::placeholder {
    color: #bbb;
    font-size: 3.8889vw;
}

/* zipCode */
.popupJoinInner input[type=button] {
    color: #fff;
    width: 33.3333vw;
    height: 11.1111vw;
    border-style: none;
    cursor: pointer;
    background-color: skyblue;
}

.popupJoinInner .zipCode input[type=text] {
    /* margin-top: 0.8333vw; */
}

.popupJoinInner .zipCode input[type=text]:nth-of-type(1) {
    width: 27.7778vw;
    margin-top: 0;
}

.popupJoinInner .zipCode input[type=text]:nth-of-type(3),
.popupJoinInner .zipCode input[type=text]:nth-of-type(4) {
    width: 27.7778vw;
}

.popupJoinInner .zipCode input[type=text]:nth-of-type(5) {
    width: 27.7778vw;
}

/* 버튼 */
.duplicateCheckBtn {
    color: #fff;
    width: 22.2222vw;
    height: 11.1111vw;
    border-style: none;
    cursor: pointer;
    padding: 0;
    vertical-align: middle;
    font-size: 3.3333vw;
}

.popupJoinInner .joinBtn {
    color: #fff;
    width: 55.5556vw;
    height: 13.8889vw;
    font-weight: 700;
    cursor: pointer;
    margin: 8.3333vw auto auto auto;
    background-color: skyblue;
    display: block;
}

.tieLabelInput {
    display: flex;
}

.tieLabelInput span {
    font-size: 3.8889vw;
}

/* promotion.html */
.promotionBox,
.promotionBoxEvent {
    padding: 5.5556vw 0 11.1111vw 0;
    /* display: none; */
}

.promotionBox p,
.promotionBoxEvent p,
.cardLi h3 {
    font-size: 5.5556vw;
    font-weight: 700;
    border-bottom: 0.5556vw solid skyblue;
}

.promotionBox ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5.5556vw;
}

.promotionBox li {
    width: 66.6667vw;
    padding: 8.3333vw 8.0556vw 8.3333vw 8.0556vw;
    border-bottom: 1px solid skyblue;
    margin: auto;
}


.promotionBox li a img {
    width: 66.6667vw;
    display: block;
    margin: auto;
    border-radius: 5.5556vw;
    transition: 0.3s;
}


.promotionBox strong {
    font-size: 3.8889vw;
    font-weight: 700;
    display: block;
    text-align: left;
    padding-top: 4.1667vw;
}

.promotionBox span {
    font-size: 3.3333vw;
    display: block;
    padding-top: 1.6667vw;
}

/* event.html */
.promotionVisual {
    background-image: url(../images/event/cruz.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.promotionInner a button {
    width: 83.3333vw;
    color: white;
    background-color: skyblue;
    border-style: none;
    font-size: 4.4444vw;
    font-weight: 700;
    height: 10.6667vw;
    display: block;
    margin: auto auto 11.1111vw auto;
    cursor: pointer;
}

.promotionBox img,
.promotionBoxEvent img {
    width: 94.4444vw;
    display: block;
    margin: auto;
}

/* event3.html */
.event3Bgimg {
    background: url(../event/event3/bg_img_02.jpg);
    background-position: 0, 0;
    background-size: contain;
}

/* card */
.cardLi {
    width: 94.4444vw;
}

.cardLi h3 {
    padding: 5.5556vw 0 0 0;
}

.cardLi h3+ul {
    margin: 2.7778vw;
}

.cardLi h3+ul li {
    font-size: 3.3333vw;
}

.cardLi ul:nth-of-type(2) li {
    padding: 8.3333vw 0;
    border-top: 0.2778vw solid skyblue;
}

.cardList {
    width: 94.4444vw;
    display: flex;
    /* border: 0.2778vw solid #000; */
    padding: 2.7778vw;
    box-sizing: border-box;
}

.cardListImg {
    margin-right: 8.3333vw;
}

.cardListImg img {
    width: 27.7778vw;
}

.cardListInfo {
    /* border: 0.2778vw solid #000; */
    /* width: 100%; */
    /* padding: 5.5556vw */
}

.cardListInfo strong {
    font-size: 5.0000vw;
}

.cardListInfo span {
    font-size: 3.3333vw;
}

.cardText {
    width: 94.4444vw;
    padding: 5.5556vw;
    line-height: 7.5000vw;
    position: relative;
    background-color: rgba(18, 136, 172, 0.1);
    box-sizing: border-box;
}

.cardText p {
    font-size: 3.3333vw;
}

.applyCardBtn {
    width: 55.5556vw;
    height: 11.1111vw;
    color: white;
    font-weight: 700;
    text-align: center;
    /* transform: translateY(-50%); */
    border-style: none;
    background-color: skyblue;
    cursor: pointer;
}



.promotionVisual {
    width: 100%;
    height: 41.6667vw;
    /* border: 0.2778vw solid #000; */
    position: relative;
}

.promotionVisualInner {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}


.promotionVisual .eventBtn,
.promotionVisual .membershipBtn {
    width: 41.6667vw;
    height: 11.1111vw;
    box-sizing: border-box;
    border: none;
    font-size: 4.4444vw;
    cursor: pointer;
    background: #D8F1F1;
    color: #000;
    font-weight: 700;
}

.promotionVisual .eventBtn.onBtn,
.promotionVisual .membershipBtn.onBtn {
    background: skyblue;
    color: #FFF;
}

.promotionVisual .eventBtn {}

.on {
    display: block;
}