#wrap {
    width: 100%;
}

.inner {
    width: 95%;
    margin: auto;
    position: relative;
    box-sizing: border-box;
}

/* package.html */

.packVis {
    background-image: url(../images/package_m/pac_main_bg.jpg);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    padding-top: 10px;
}

.packVis .packV_search {
    margin: auto;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    width: 310px;
    height: 160px;
}

.packVis .packV_search ul {
    padding: 10px 30px;
}

.packVis .packV_search ul li {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 10px;
}

.packVis .packV_search ul li strong {
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    width: 50px;
}

.packVis .packV_search ul li div {
    display: flex;
    justify-content: space-between;
    background: #fff;
    width: 180px;
    line-height: 40px;
    padding: 0px 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.packVis .packV_search ul li div span {
    color: #999;
}

.packVis .packV_search ul li div i {
    line-height: 40px;
    color: #999;
}

.packVis .btt {
    border: none;
    border-radius: 14px;
    background: #1288AC;
    width: 220px;
    height: 40px;
    display: block;
    margin: 10px auto;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
}

.packVis .btt i {
    margin-right: 10px;
}

.packVis .packV_search ul li .go i,
.packVis .packV_search ul li .date i,
.packVis .packV_search ul li .people i {
    font-size: 18px;
    color: black;
    transition: all 0.3s linear;
}
.packVis .packV_spop_go {
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 5px black;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 60px;
    overflow: hidden;
    z-index: 10;
    transition: all linear 0.2s;
    border-radius: 20px;
    height: 0;
}


.packVis .packV_spop_go td {
    width: 50px;
    height: 50px;
}

.packVis .packV_spop_go .packV_calendar thead tr:first-child td {
    font-weight: bold;
    padding-top: 30px;
    font-size: 20px;
}

.packVis .packV_spop_go .packV_calendar thead tr:last-child td {
    font-weight: bold;
    font-size: 18px;
}

.packVis .packV_spop_go .packV_calendar tbody tr td p {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition-duration: 0.2s;
    line-height: 40px;
    margin: 2px;
    display: block;
    text-align: center;
    font-size: 18px;
}

.packVis .packV_spop_go .packV_calendar .pastDay {
    color: #999;
}

.packVis .packV_spop_go .packV_calendar .pack_today {
    background-color: #eecd49;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.packVis .packV_spop_go .packV_calendar .futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
}

.packVis .packV_spop_go .packV_calendar .futureDay:hover {
    background: #eee;
}

.packVis .packV_spop_go .packV_calendar .futureDay.pack_choiceDay,
.packVis .packV_spop_go .packV_calendar .today.pack_choiceDay {
    background-color: #1288AC;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}


.packVis .packV_spop_date {
    z-index: 20;
    position: absolute;
    left: 35%;
    top: 110px;
    background: #fff;
    width: 180px;
    overflow: hidden;
    transition: all linear 0.2s;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
height: 0;
}

.packVis .packV_spop_date li {
    position: relative;
    cursor: pointer;
    line-height: 40px;
    padding-left: 15px;
    z-index: 20;
    font-size: 16px;

}

.packVis .packV_spop_date li::after {
    content: "";
    background: lightgray;
    width: 170px;
    height: 1px;
    display: block;
    position: absolute;
    left: 5px;
    top: 40px;
}

.packVis .packV_spop_date li:last-child::after {
    display: none;
}

.packVis .packV_spop_people {
    z-index: 20;
    position: absolute;
    left: 35%;
    top: 160px;
    background: #fff;
    width: 180px;
    height: 0px;
    line-height: 50px;
    padding-left: 15px;
    overflow: hidden;
    transition: all linear 0.2s;
    box-shadow: 0px 0px 5px black;
    box-sizing: border-box;
    border-radius: 10px;
}

.packVis .packV_spop_people p {
    position: relative;
}

.packVis .packV_spop_people p em {
    color: black;
}

.packVis .packV_spop_people .ol,
.packVis .packV_spop_people .yo {
    padding: 0px 5px;
}

.packVis .packV_spop_people .packV_btn_o {
    cursor: pointer;
    border: none;
    vertical-align: middle;
}

.packVis .packV_spop_people .packV_btn_o_prev,
.packVis .packV_spop_people .packV_btn_y_prev {
    margin-left: 30px;
}

.packVis .packV_spop_people .packV_btn_o i {
    font-size: 18px;
}

.packVis .packV_spop_people .packV_btn_y {
    cursor: pointer;
    border: none;
    vertical-align: middle;
}

.packVis .packV_spop_people .packV_btn_y i {
    font-size: 18px;
}

.packVis .packV_spop_people p:first-child::after {
    content: "";
    background: lightgray;
    width: 240px;
    height: 1px;
    display: block;
    position: absolute;
    left: -10px;
    top: 50px;
}


#packbanner .kakaobanner {
    margin: 10px 0px;
    width: 100%;
    height: 70px;
    background-image: url(../images/package_m/kakao.png);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}

#packbanner .pack_aside_banner {
    margin: 10px 0px;
}

.packCon .packmain_banner .packmain_banner_roll .swiper-slide {
    height: 230px;
}

.packCon .packmain_banner .packmain_banner_roll .swiper-slide img {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    display: inline-block;
    position: relative;
    box-shadow: 0px 2px 4px #999;

}

.packCon .packmain_banner .packmain_banner_roll .swiper-slide a span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0px 0px 10px black;
}

.packCon .txt {
    text-align: center;
    margin: 40px 0px 20px 0px;
}

.packCon .txt strong {
    display: inline-block;
    border: 1px solid skyblue;
    color: skyblue;
    padding: 6px 12px;
    border-radius: 20px;
    margin-bottom: 14px;
    font-weight: 500;
}

.packCon .txt h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

.packCon .txt h2 span {
    color: red;
}

.packCon .packmain .packmain_con {}

.packCon .packmain .packmain_con .main_btn {
    text-align: center;
    margin-bottom: 10px;
}

.packCon .packmain .packmain_con .main_btn .btn {
    margin-bottom: 40px;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    width: 100px;
    display: inline-block;
}

.packCon .packmain .packmain_con .main_btn .btn.on {
    background: skyblue;
    border-radius: 20px;
    color: #fff;
}

.packCon .packmain .packmain_con .main_btn em {
    font-size: 18px;
    padding: 0px 10px;
}

.packCon .packmain .packmain_con .packmain_info {
    position: relative;
}
.packCon .packmain .packakegmain{
    position: relative;
}
.packCon .packmain .packakegmain .info_bg {
    background: #D8F1F1;
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0px;
    top: -30px; 
} 

.packCon .packmain .packmain_con .packmain_info {
    display: none;
}

.packCon .packmain .packmain_con .packmain_info.on {
    display: block;

}

.packCon .packmain .packmain_con .packmain_info .swiper-slide {
    text-align: left;
    border-radius: 20px;
    box-shadow: 2px 2px 6px #ccc;
    margin-bottom: 20px;
}

.packCon .packmain .packmain_con .packmain_info .swiper-slide img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 170px;
}

.packCon .packmain .packmain_con .packmain_info .swiper-slide strong {
    display: block;
    font-size: 22px;
    padding: 8px 8px 0px;
    font-weight: 600;
}

.packCon .packmain .packmain_con .packmain_info .swiper-slide em {
    display: block;
    padding: 0px 8px;
    font-size: 16px;
}

.packCon .packmain .packmain_con .packmain_info .swiper-slide b {
    display: block;
    text-align: right;
    padding-right: 15px;
    margin-bottom: 10px;
}

.packCon .packmain .packmain_con .packmain_info .swiper-slide b span {
    color: tomato;
    font-size: 20px;
}
.packCon .packmain .packmain_con .packakegmain .more,
.tourMain .con .more{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 40px;
}
.packCon .packmain .packmain_con .packakegmain .more a,
.tourMain .con .more a{
    color: #1288AC;
    
}
.packCon .packmain .packmain_con .packakegmain .more a i,
.tourMain .con .more a i{
    vertical-align: middle;

}
/* tour */
#tourNav{}
#tourNav .tour_btn{display: flex;justify-content: space-between;}
#tourNav .tour_btn strong{display: inline-block;text-align: center; padding: 14px 16px; font-weight: 600; font-size: 16px;}
#tourNav .tour_btn strong.on{background: #1288AC;}
#tourNav .tour_btn strong.on a{color: #fff;}
#tourVis{}
#tourVis .tourVis_bg{ width: 100%; background:#D8F1F1; height: 150px;}
#tourVis .tourVis_bg .search input{border: none;border-radius: 10px;padding: 10px 50px 10px 16px; font-size: 16px;margin: 20px 0px; width: 340px; box-sizing: border-box;}
#tourVis .tourVis_bg .search i{position: absolute; right: 20px; top: 29px; font-size: 20px;}
#tourVis .tourVis_bg .tourVis_roll{}
#tourVis .tourVis_bg .tourVis_roll .swiper-wrapper .swiper-slide{border-radius: 10px;}
#tourVis .tourVis_bg .tourVis_roll .swiper-wrapper .swiper-slide img{border-radius: 10px;}
